<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naver Map Example</title>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9sjugkpizo"></script>
    <style>
        html, body, #map {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        #search-in-current-map {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 100;
            background-color: white;
            border: 1px solid #ccc;
            padding: 5px 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<div id="map"></div>

<button id="search-in-current-map">현재 지도 검색</button>

<script type="text/javascript">
    var map;
    var currentZoomLevel = 16; // 초기 줌 레벨 설정
    var markersArray = []; // 마커를 저장할 배열

    function calculateDistance(lat1, lon1, lat2, lon2) {
        function toRad(x) {
            return x * Math.PI / 180;
        }

        var R = 6371; // 지구의 평균 반지름 km
        var dLat = toRad(lat2-lat1);

        console.log(dLat)

        var dLon = toRad(lon2-lon1);

        console.log(dLon)

        var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
            Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) *
            Math.sin(dLon/2) * Math.sin(dLon/2);

        console.log(a)

        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
        console.log(c)

        var d = R * c;

        console.log(d)

        var result = d * 1000; // m로 변환

        console.log(result)

        return result;
    }

    function initMap() {
        map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(35.84082040579553, 128.70514786316414),
            zoom: currentZoomLevel
        });

        var dragEndTimeout; // 드래그 종료 후 타이머를 저장할 변수
        let lastCenter = map.getCenter(); // 지도 로드 시 초기 중심 위치 저장

        naver.maps.Event.addListener(map, 'dragstart', function() {
            clearTimeout(dragEndTimeout);
        });

        naver.maps.Event.addListener(map, 'dragend', function() {
            var newCenter = map.getCenter();
            let distance = calculateDistance(lastCenter.lat(), lastCenter.lng(), newCenter.lat(), newCenter.lng());

            console.log("최종값 : ", distance);

            if (distance > 100) {
                clearTimeout(dragEndTimeout); // 이전에 설정된 타이머가 있다면 취소
                dragEndTimeout = setTimeout(function() {
                    loadInitialRestaurants();
                    lastCenter = newCenter;
                }, 1500); // 드래그가 종료된 후 1.5초 후에 실행
            }
        });

        naver.maps.Event.addListener(map, 'zoom_changed', function() {
            clearTimeout(dragEndTimeout); // 이전에 설정된 타이머가 있다면 취소
            dragEndTimeout = setTimeout(function() {
                var currentZoomLevel = map.getZoom(); // 현재 줌 레벨을 가져옴
                var center = map.getCenter(); // 현재 지도 중심을 가져옴
                sendZoomValue(currentZoomLevel, center.lat(), center.lng());
            }, 1500); // 줌 변경이 종료된 후 1.5초 후에 실행
        });

        document.getElementById('search-in-current-map').addEventListener('click', function() {
            var currentZoomLevel = map.getZoom(); // 현재 지도의 Zoom Level
            var center = map.getCenter(); // 현재 지도의 중심 위치
            getListView(currentZoomLevel, center.lat(), center.lng()); // Zoom Level과 위치 정보를 서버로 전송
        });


        loadInitialRestaurants();
    }

    function loadInitialRestaurants() {
        var center = map.getCenter();
        sendLocationToServer(center.lat(), center.lng());
    }

    function sendLocationToServer(lat, lng) {
        var data = {
            latitude: lat,
            longitude: lng
        };

        fetch('/v1/api/nearby_restaurant', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then(response => response.json())
            .then(data => {
                markersArray.forEach(marker => marker.setMap(null)); // 기존 마커 제거
                markersArray = []; // 마커 배열 초기화
                data.forEach(restaurant => {
                    var marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(restaurant.latitude, restaurant.longitude),
                        map: map,
                        title: restaurant.name
                    });

                    markersArray.push(marker);

                    naver.maps.Event.addListener(marker, 'click', function() {
                        sendRestaurantName(restaurant.name, restaurant.latitude, restaurant.longitude);
                    });
                });
            })
            .catch(error => {
                console.error('Error:', error);
                alert('서버로의 요청을 보내는 데 실패했습니다.');
            });
    }

    function sendRestaurantName(restaurantName, restaurantLatitude, restaurantLongitude) {
        var data = {
            restaurantName: restaurantName,
            latitude: restaurantLatitude,
            longitude: restaurantLongitude
        };
        console.log("Sending restaurant name to the server:", restaurantName);
        fetch('/v1/api/restaurant_details', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

    function getListView(zoom , lat, lng) {
        console.log("Sending zoom level to the server:", zoom);
        console.log("사용자 위치 lat : ", lat)
        console.log("사용자 위치 lng : ", lng)

        var zoomLevel = {
            zoomLevel: zoom,
            latitude: lat,
            longitude: lng

        };
        fetch('/v1/api/restaurant_list_view', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(zoomLevel),
        }) .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
            .then(data => {
                console.log(data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

    function sendZoomValue(zoom , lat, lng) {
        console.log("Sending zoom level to the server:", zoom);
        console.log("사용자 위치 lat : ", lat)
        console.log("사용자 위치 lng : ", lng)
        var zoomLevel = {
            zoomLevel: zoom,
            latitude: lat,
            longitude: lng

        };
        fetch('/v1/api/zoom_level', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(zoomLevel),
        })
            .then(response => response.json())
            .then(data => {
                markersArray.forEach(marker => marker.setMap(null)); // 기존 마커 제거
                markersArray = []; // 마커 배열 초기화
                data.forEach(restaurant => {
                    var marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(restaurant.latitude, restaurant.longitude),
                        map: map,
                        title: restaurant.name
                    });

                    markersArray.push(marker);

                    naver.maps.Event.addListener(marker, 'click', function() {
                        sendRestaurantName(restaurant.name, restaurant.latitude, restaurant.longitude);
                    });
                });
            })
            .catch(error => {
                console.error('Error:', error);
                alert('서버로의 요청을 보내는 데 실패했습니다.');
            });
    }


    initMap();
</script>
</body>
</html>
